extends app

block content

    .profile-header.profile-section
        .row
            .col-sm-4
                img(src=profile.profileImageUrl, width='200', height='200')
            .col-sm-8
                h2 #{profile.name}
                h4 #{profile.company}

                if profile.description
                    p #{profile.description}
                else
                    p No bio given yet.

    .investments.profile-section
        .row
            .col-sm-4
                h3 Investments:
                ul.no-list.investments-list
                    li
                        .bullet(style='background-color: #{chartColors[0]}')
                        p Yahoo
                    li
                        .bullet(style='background-color: #{chartColors[1]}')
                        p Google
                    li
                        .bullet(style='background-color: #{chartColors[2]}')
                        p Apple
                    li
                        .bullet(style='background-color: #{chartColors[3]}')
                        p Amazon
                    li
                        .bullet(style='background-color: #{chartColors[4]}')
                        p Appcues
            .col-sm-8
                .doughnut
                    canvas#doughnut(width='400px', height='400px')

    .matches
